.third-blocks-inner {
	width: 240px;
	margin: 0 auto;
	top: 100%;
	height: 100%;
	/*background-color: pink;*/
}

.third-blocks-inner-half {
	width: 50%;
	float: left;
	height: 100%;
	/*background-color: red;*/
}

.fill-info {
	/*background-color: grey;*/
	clear: both;
	text-align: center;
	color: #333;
	border-top: 1px solid #333;
	margin-right: 5px;
	margin-left: 5px;
}
.fill {
		/*background-color: aquamarine;*/
	height: 90%;
	bottom: 0px;
	position: relative;
	margin-left: 5px;
}

.fill-usa {
		/*background-color: aquamarine;*/
	height: 90%;
	bottom: 0px;
	position: relative;
	margin-right: 5px;
}

div.burritoBar {
	position: absolute;
    width: 52px;
}

div.burritohalf {
	position: absolute;
    width: 34px;
}

div.dynamiteBar {
	position: absolute;
	width: 26px;
}

div.dynamiteBarSingle {
	position: absolute;
	width: 16px;
}

div.coalBar1, div.coalBar2 {
	position: absolute;
	width: 25px;
}

div.coalBar img, div.dynamiteBar img, div.dynamiteBarSingle img, div.burritoBar img {
	width: 100%;
}

#dyn1 {		
	display: block;
}
#dyn2 {
	display: none;
}


@media only screen and (max-width: 760px) { 
	.third-blocks-inner {
		width: 50%;
	}

	.third-blocks-inner-half {
		width: 100%;
	}

	.third-blocks-inner-half.right {
		display: none;
	}

	#dyn1 {
		display: none;
	}
	#dyn2 {
		display: block;
	}
} 

@media only screen and (max-width: 640px) { 

	.third-blocks-inner {
		width: 240px;
	}

	.third-blocks-inner-half {
		width: 50%;
	}

	.third-blocks-inner-half.right {
		display: block;
	}     	
	.fill-info {
	/*background-color: grey;*/
		clear: both;
		text-align: center;
		color: #333;
		border-top: 1px solid #333;
		margin-right: 10px;
		margin-left: 10px;
	}
	#dyn1 {		
		display: block;
	}
	#dyn2 {
		display: none;
	}
} 




