/********************************************

	Styles to be added to energy.gov in order 
	to allow it to look however you want it.
	Reminder: make it responsive

********************************************/


/*+++++++++++++++++++++++++++
Map
++++++++++++++++++++++++++++++++++++++*/
/* #master_container {
 	font-family: 'Avenir LT W02 35 Light',verdana,sans-serif;
    text-transform: none !important;
    position: relative;
    width: 100%;
    height: 800px;
 }
 #map { position:absolute; top:0; height: 500px; width:99%; border: 4px solid #333;}
*/
    	div	{
    	}

    	.row {
    		margin-bottom: 10px;
    	}

    	.row .green-text	{
    		color: rgb(140,198,63);
    	}

    	/*Typography*/

    	.row h1, .row h2, .row h3, .row h4 {
    		text-align: center;
    		border:none

    	}

    	.row h1 {
    		font-size: 52px;
    		letter-spacing: 15px;
    		color: rgb(51,51,51);
    		line-height: normal;
    		padding-top: 1rem;
    		padding-bottom: 1rem;
    	}

    	.row h2 {
    		font-size: 38px;
    		color: #fff;
    		text-transform: none;
    		line-height: normal;
    		padding-top: 1rem;
    		padding-bottom: 1rem;
    		font-family: "Avenir LT W02 35 Light",verdana,sans-serif;
    		letter-spacing: .1rem;
    	}

    	.row h3 {
    		font-size: 26px;
    		color: #fff;
    		margin-top: 0.5rem;
    		margin-bottom: 0.6rem;
    		text-transform: none;
			line-height: normal;
    	}

    	.row h4 {
    		font-size: 20px;
    		text-transform: uppercase;
    		margin-top: 0.5rem;
    		margin-bottom: 0.4rem;
    	}

    	.row .inner-text {
    		position: absolute;
    		font-size: 28px;
    		text-transform: uppercase;
    		font-family: "Avenir LT W02 85 Heavy",verdana,sans-serif;
    		letter-spacing: .1rem;
    		line-height: normal;	
    		padding-top: 15px;
    		padding-left: 15px;
    	}

    	#select-text h4 {
    		color: #fff;
    	}    	

    /* The Colors duke, the colors*/
    	.header-color {
    		background-color: rgb(140,198,63);
    	}

    	#headline {
    		background-color: rgb(51,51,51)
    	}

    /*Other*/

    	.triple {
    		padding-left: 0.28rem;
    		padding-right: 0.28rem;
    	}

    	.triple:first-child {
    		padding-left: 0px;   
    		padding-right: 0.56rem; 		
    	}

    	.triple:last-child {
    		padding-right: 0px;    		
    		padding-left: 0.56rem;
    	}

    	.third-blocks {
    		background-color: rgb(197,225,159);
    		height: 300px;
    	}

    	.middle-block {
    		background-color: rgb(168,212,110) !important;
    	}

    	.middle-block p {
    		margin-bottom: 0px;
    		text-align: center;
    		color: rgb(12,15,8);
    		padding-top: 10px;
    		padding-bottom: 10px;
    		font-size: 18px;
    		font-weight: bold;
    	}

    	.green {
	    	background-color: rgb(197,225,159);	
    	}

    	.outside {
			height: 74px;
    		background-color: rgb(140,198,63);
    	}

    	.outside:hover {
    		cursor: pointer;
    		background-color: #fff;
    		background-color: rgb(197,225,159);
    	}

    	.triangle {
    		position: relative;
    		top: 20px;
			border-top: 17px solid transparent;
			border-bottom: 17px solid transparent; 
			width: 0; 
			height: 0; 			
    	}

    	.right-tri {    		
			left: 10px;
			border-left: 35px solid #fff; 
    	}

    	.left-tri {
    		left: 8px;    		
			border-right: 35px solid #fff; 
    	}

    	.full-size-blocks {
    	    border: 1px solid rgb(151,203,81);
    	    height: 500px;
    	}

    	.full-size-blocks div.child {
    		padding: 0px;
    	}

    	
    	/*@media only screen and (min-width: 64.063em)
		@media only screen and (min-width: 40.063em)*/



		/*D3 map shiz*/
		.graticule {
		  fill: none;
		  stroke: #777;
		}

		.boundary {
		  fill: #ccc;
		  fill-opacity: .8;
		  stroke: #000;
		}